### Exercise 11: Get each digit from a number in the reverse order.

For example, If the given integer number is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [18]:
Number = int(input("Enter the number: "))

print("Given integer number is ", Number)

while Number > 0:
    digit = Number % 10 # this will return last num
    print(digit, end =" ")
    
    Number = Number//10 # this will remove last num

Given integer number is  7536
6 3 5 7

### Exercise 12: Print multiplication table from 1 to 10

Expected Output:

1  2 3 4 5 6 7 8 9 10 	

2  4 6 8 10 12 14 16 18 20 

3  6 9 12 15 18 21 24 27 30 

4  8 12 16 20 24 28 32 36 40 	

5  10 15 20 25 30 35 40 45 50 

6  12 18 24 30 36 42 48 54 60 	

7  14 21 28 35 42 49 56 63 70 	

8  16 24 32 40 48 56 64 72 80 	

9  18 27 36 45 54 63 72 81 90 	
	
10 20 30 40 50 60 70 80 90 100

In [23]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end =" ")
        
    print(" ")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

### Exercise 13: Print a downward half-pyramid pattern of stars

    * * * * *  

    * * * *  

    * * *  

    * *  

    *

In [45]:
for i in range(6, 0, -1):
    # print('*')
    for j in range(0, i-1):
        print("*",end=" ")
    print(" ")

* * * * *
* * * *
* * *
* *
*

### Exercise 14: Get an int value of base raises to the power of exponent

Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

Note here exp is a non-negative integer, and the base is an integer.

Expected output

Case 1:

base = 2
exponent = 5

2 raises to the power of 5: 32 i.e. (2 *2 * 2 *2 *2 = 32)

Case 2:

base = 5
exponent = 4

5 raises to the power of 4 is: 625 
i.e. (5 *5 * 5 *5 = 625)

In [56]:
base = int(input("Enter the base value" ))
exponent = int(input("Enter the exponent value: "))

print("base = ",base)
print("exponent = ",exponent)

if base > 0:
    result = base**exponent
    print(f"{base} raises to the power of {exponent}:", result)

base =  2
exponent =  5
2 raises to the power of 5: 32

In [65]:
def exponent(base,exponent):
    
    print("base = ",base)
    print("exponent = ",exponent)

    if base > 0:
        result = base**exponent
        print(f"{base} raises to the power of {exponent}:", result)

print("Case 1:")
exponent(2,5)
print(" ")
print("Case 2:")
exponent(5,4)

Case 1:
base =  2
exponent =  5
2 raises to the power of 5: 32

Case 2:
base =  5
exponent =  4
5 raises to the power of 4: 625

In [47]:
2**5

32

In [48]:
5**4

625

### Exercise 15: Calculate income tax

Calculate income tax for the given income by adhering to the rules below

Taxable Income	Rate (in %)

First $10,000	0

Next $10,000	10

The remaining	20

Expected Output:

For example, suppose the income is 45000, and the income tax payable is

10000*0% + 10000*10%  + 25000*20% = $6000.

In [69]:
income = 45000
tax_pay = 0
print("Given income ",income)

if income <=10000:
    tax_pay = 0
elif income <= 20000:
    x=income - 10000
    tax_pay = x * 10/100
else:
    tax_pay =0
    
    tax_pay = 10000*10/100
    
    tax_pay +=(income - 20000) *20/100
print("Total tax amount ",tax_pay)

Given income  45000
Total tax amount  6000.0