### Exercise 16: Accept numbers from a user

Write a program to accept two numbers from the user and calculate multiplication

In [1]:
number1 = int(input("Enter the number: "))
number2 = int(input("Enter the number: "))

mul = number1 * number2
print(f"Multiplication of {number1} and {number2} = ", mul)

Multiplication of 20 and 21 =  420

### Exercise 17: Display three string “Name”, “Is”, “James” as “Name--Is--James”

Use the print() function to format the given words in the mentioned format. Display the -- separator between each string.

Expected Output:

For example: print('Name', 'Is', 'James') will display Name--Is--James

In [3]:
print('Name', 'Is', 'James',sep = '--')

Name--Is--James

### Exercise 18: Convert Decimal number to octal using print() output formatting

Given:

num = 8

Expected Output:

The octal number of decimal number 8 is 10

In [13]:
num = 8
octal = ('%o' %num)
print(f"The octal number of decimal number {num} is", octal)

The octal number of decimal number 8 is 10

### Exercise 19: Display float number with 2 decimal places using print()

Given:

num = 458.541315

Expected Output:

458.54

In [17]:
num = 458.541315

print('%.2f' %num)

458.54

### Exercise 20: Accept a list of 5 float numbers as an input from the user


Expected Output:

[78.6, 78.6, 85.3, 1.2, 3.5]

In [27]:
numbers = []

for i in range(1,6):
    list_num = float(input("Enter the number :"))
    numbers.append(list_num)
    
print(numbers)

[78.6, 78.6, 85.3, 1.2, 3.5]