### 51. Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

The function must return a Boolean value (True/False). Output is handled by the provided code stub.

Sample Input 0

1990

Sample Output 0

False

Explanation 0

1990 is not a multiple of 4 hence it's not a leap year.

In [25]:
def leap_year(year):
    if (year % 4 == 0 ):
        print(f"Div by 4 and the {year} is Leap Year")
        print("Its a Leap Year")
    elif (year % 400 == 0 ):
        print(f"Div by 400 and the {year} is Leap Year")
        print("Its a Leap Year")

    else:
        print("Not Leap year")
        
year = int(input("Enter the year:"))
        
leap_year(year)

Div by 4 and the 1600 is Leap Year
Its a Leap Year

In [29]:
def is_leap(year):
    leap = False
    if (year % 4 == 0):
        if (year % 100 == 0):
            if (year % 400 == 0):
                leap = True
        else:
            leap = True
    return leap

year = int(input())
print(is_leap(year))

False

### 52. The included code stub will read an integer, , from STDIN.

Without using any string methods, try to print the following:


Note that "" represents the consecutive values in between.

Example

Print the string .

Input Format

The first line contains an integer .

Constraints


Output Format

Print the list of integers from  through  as a string, without spaces.

Sample Input 0

3

Sample Output 0

123

In [28]:
n = int(input())

for i in range(1,n+1):
    print(i,end='')

123

### 53: Reverse a list in Python

Given:

list1 = [100, 200, 300, 400, 500]

Expected output:

[500, 400, 300, 200, 100]

In [34]:
list1 = [100,200,300,400,500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

### 54: Concatenate two lists index-wise
Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

Given:

list1 = ["M", "na", "i", "Ke"]

list2 = ["y", "me", "s", "lly"]

Expected output:

['My', 'name', 'is', 'Kelly']

In [35]:
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

### 55: Turn every item of a list into its square
Given a list of numbers. write a program to turn every item of a list into its square.

Given:

numbers = [1, 2, 3, 4, 5, 6, 7]

Expected output:

[1, 4, 9, 16, 25, 36, 49]

In [37]:
numbers = [1,2,3,4,5,6,7]
[i**2 for i in numbers]

[1, 4, 9, 16, 25, 36, 49]